* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
header {
  background-color: lightpink;
  padding: 3rem;
  font-size: 2rem;
}
nav.sticky {
  background-color: lightyellow;
  padding: 1rem;
  position: sticky;
  top: 0;
}
